#form {
  margin: 50%;
  transform: translate(-30vh);
  margin-top: 5vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.signout {
  width: 10vh;
  height: 5vh;
  background-color: white;
  color: black;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  display: none;
}
