.contacts {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.contacts__title {
  margin: 0 0 60px;

  text-align: center;
  font-weight: 400;
}

.contacts__working-hours {
  margin-right: 60px;
}

.contacts__working-hours,
.contacts__address,
.contacts__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.contacts__subtitle {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 400;
}

.contacts__working-hour {
  margin: 0 0 10px;
}

.contacts__working-hours-time {
  margin-left: 20px;
}

.contacts__address {
  font-style: normal;
}

.contacts__address-city {
  margin-bottom: 10px;
}

.contacts__phones,
.contacts__phone-doctors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  padding-left: 0;
  margin-top: 0;
}

.contacts__phone--reception {
  font-size: 16px;
}

.contacts__doctors {
  list-style: none;
  font-size: 16px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

.contacts__doctor {
  margin-bottom: 20px;
  font-size: 16px;
}

.contacts__phone-doctors-title {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0;
}

.contacts__phone--reception {
  margin-top: 0;
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__map {

    height: 500px;
    width: 500px;
    margin-top: 100px;
}

.my-mb-0 {
  margin-bottom: 0;
}

@media screen and (min-width: 0) {
  .contacts__map {
    margin: 60px 0;
    height: 50vh;
    padding: 0 30px;
  }

  .my-container {
    align-items: center;
  }
}

@media screen and (min-width: 960px) {

    .contacts__map {
        margin: 0 auto;
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }

    .my-container {
        align-items: flex-start;
    }
}

.MuiFilledInput-underline:after {
  border-color: sandybrown !important;
  background-color: #fff !important;
}


